{
    "naver": {
        "clientId": "id",
        "clientSecret": "secret",
        "endpoint": "https://openapi.naver.com/v1/papago/n2mt"
    },
    "google": {
        "apiKey": "path"
    },
    "settings": {
        "detection": {
            "language": {
                "filterScript": true,
                "script": "Hangul",
                "filterLanguage": true,
                "language": "Korean",
                "detectLanguage": true,
                "languageHints": ["ko-KR"]
            },
            "subtitleLocation": {
                "restrictLocation": true,
                "top": 80,
                "bottom": 97,
                "left": 0,
                "right": 100
            },
            "confidence": 75
        },
        "translation": {
            "translate": true,
            "engine": "Google",
            "sourceLanguage": "ko",
            "targetLanguage": "en"
        },
        "fixSubtitles": {
            "fix": true,
            "ignoreWhitespace": true,
            "minimumDuration": 2000,
            "partialMatch": true,
            "partialMatchPercentage": 50
        },        
        "inputFile": "video/input.mp4",
        "outputFile": "output/output.vtt"
    }
}