{
    "naver": {
        "clientId": "id",
        "clientSecret": "secret",
        "endpoint": "https://openapi.naver.com/v1/papago/n2mt"
    },
    "google": {
        "apiKey": "path"
    },
    "settings": {
        "script": "Hangul",
        "sourceLanguage": "ko",
        "targetLanguage": "en",
        "inputFile": "input.mp4",
        "outputFile": "output.vtt",
        "translate": true,
        "confidence": 90,
        "restrictVertices": true,
        "startYPerc": 60,
        "endYPerc": 100
    }
}